.wpcsc-page-bottom-alert{
	background-color: #96c796;
	width: 100%;
	position: fixed;
	bottom: 0;
	left:0;
	height: 30px;
	padding: 6px;
	font-size: 12px;
	font-weight: lighter;
	padding-left: 30px;
	color: white;

}

.wpcsc-page-bottom-alert .the-wpcsc-warn-text{
	float: left;
}

.wpcsc-page-bottom-alert #wpcsc-close-warn{
	float: right;
	margin-right: 20px;
}


#wpcsc-popup-change-country{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 9999999;
}

#wpcsc-popup-change-country .inner{
	background-color: #525258;
    width: 60%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    transform: translateY(-150%);
    padding: 5%;
}

#wpcsc-popup-change-country .inner select {
    background: #1d1d1d;
    border: 0px;
    border-radius: 11px;
    color: #cacaca;
}