.wpcsc_settings_form input {
    padding: 10px; 
    height: 33px;
    border-radius: 5px;
    line-height: 28px;
    border: white!important;
    margin-right: 5px;
    font-size: 12px;
    color: gray;
}
.wp-admin .wpcsc_settings_form select {
    padding: 4px; 
    line-height: 28px;
    height: 54px;
    border: white;
    margin-right: 5px;
    font-size: 12px;
    color: gray;
}
.wpcsc_settings_form .singleField{
    margin-bottom: 5px;
}

.wp-admin .wpcsc_settings_form .singleField select {
    height: 34px;
    min-width: 150px;
}

.wp-admin .wpcsc_settings_form select, fieldset label, label {
    vertical-align: top; 
}

.wpcsc_settings_form button.removeMyParentAndMe {
    height: 33px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #d04b4b;
    font-size: 12px;
    color: white;
    margin-top: 2px;
    background-color: #d04b4b;
}
.wpcsc_settings_form button.removeMyParentAndMe:hover, button.removeMyParentAndMe:active,button.removeMyParentAndMe:focus, button.removeMyParentAndMe:visited{
    background-color: #2d2d2d;
    border: 1px solid #2d2d2d;
    color: white;
    box-shadow: 0;
    outline: 0;
}

.wpcsc_settings_form button#AddSingleFieldButton {
	height: 33px;
	margin-top: 15px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #63a05f;
    font-size: 12px;
    color: white;
    background-color: #63a05f;
}
.wpcsc_settings_form button#AddSingleFieldButton:hover, button#AddSingleFieldButton:active,button#AddSingleFieldButton:focus, button#AddSingleFieldButton:visited{
    color: black;
    outline: 0;
    box-shadow: 0;
}

label{
    text-transform: capitalize;
}

.form-table td {
    padding: 5px 2px;
}
.form-table th {
    padding: 8px 2px 8px 0;
}

.wpcsc_100{
    width: 100%;
    border-radius: 5px;
}
span.shortcode {
    margin-left: 20px;
    color: gray;
}
#SaveChangesWarning{
    display: none;
    color: #d04b4b;
    font-size: 12px;   
    line-height: 0;
    margin: 0 0;
}